/*INDEX*/
@import "colores";

$estilos:(
    color:blue,
    tFuente:35px,
    tColor:yellow,
);

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

/*MENU*/

#menu{
    a {
      font-size: 18px;
      font-weight: bold;
      color: $colorPrimario;
    }
    button {
        font-size: 18px;
        font-weight: bold;
    }
    
}
/*CARRUSEL*/

.carousel-inner{
    max-height: 39rem;
  
}
/*FOOTER*/

footer{
    background: #1b2a4e;
    min-height: 100px;
    p {
        color: $colorPrimario;
        text-align: center;

    }
}

#iconos{
    i{
        font-size:26px;
        padding: 0 8px;
        color: #f3f3f3;
    }
}

/*sass2*/

.color-texto{
    background-color: map-get($estilos, color );
    color: map-get($estilos, tColor );
    font-size: map-get($estilos, tFuente );
}

.span-text{
    @extend .color-texto;
    background-color: map-get($estilos, color );
}

@mixin negrita {
    font-weight: bold;   
}

.color-texto{
    @include negrita;
}